{% extends "pages/content_block.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <title>Recycle Centers main page</title>
  <link rel="stylesheet" href="{% static 'styles/RC-styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="container2">
            <h1>RecycleCenter</h1>
            <p>{{actor}} and {{member_ID}}</p>
        </div>
    </div>

    <form action="NewFoundForm" method="POST">
        {% csrf_token %}
        <p>New Found Recycle Center</p>
        <input type="hidden" name="actor" value="{{ actor }}">
        <input type="hidden" name="ID" value="{{ member_ID }}">
        <input type="text" name="rc__name"value="{{rc__name}}" placeholder="Recycle Center's Name" required>
        <input type="text" name="rc__address"value="{{rc__address}}" placeholder="Address" required>
        <input type="number" step="any" name="rc__latitude"value="{{rc__latitude}}" placeholder="Latitude (optional)">
        <input type="number" step="any" name="rc__longitude"value="{{rc__longitude}}" placeholder="Longitude (optional)">
        <input type="text" name="rc__region"value="{{rc__region}}" placeholder="Region (Puchong/Kajang....)" required>
        <button type="submit">Submit</button>
    </form>

    <form action="{% url 'home' %}" method="GET">
        {% csrf_token %}
        <input type="hidden" name="actor" value="{{ actor }}">
        <input type="hidden" name="ID" value="{{ member_ID }}">
        <button type="submit">Cancel</button>
    </form>

    {% if error %}
        <div>
            {{ error }}
        </div>
    {% endif %}


</body>
</html>




{% endblock content %}