{% extends "pages/content_block.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Notification</title>
        <link rel="stylesheet" href="{% static 'styles/notification-styles.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="container2">
                <h1>Notification</h1>
                <p>{{actor}} and {{member_ID}}</p>
            </div>
        </div>
    </body>
</html>

{% endblock content %}