{% extends "pages/content_block.html" %} {% load static %} {% block content %}

<head>
  <title>Nearby Recycle Centers</title>
  <link rel="stylesheet" href="{% static 'styles/SearchRC-styles.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
  <!-- Form stick to under the page -->
  <div class="fixed-bottom-form text-center">
    <form action="SearchRecycleCenter" method="POST">
      {% csrf_token %}
      <p>Search by Region</p>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          name="region"
          placeholder="Your Region..."
          required
          aria-describedby="button-addon2"
        />
        <button type="submit" class="btn btn-success" id="button-addon2">
          Search
        </button>
      </div>
      <input type="hidden" name="actor" value="{{ actor }}" />
      <input type="hidden" name="ID" value="{{ member_ID }}" />
    </form>
  </div>

  <!-- change the data format to javascript data (json) -->
  {{ recycle_centers|json_script:"rc_json" }}
  {{region|json_script:"region_json"}}

  <!-- Map positioning manip -->

  <div class="map-address-container">
    <div id="map">
      <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
      <script>
        // JavaScript to create and show the map
        let recycle_centers = JSON.parse(
          document.getElementById("rc_json").textContent
        );
        let region = JSON.parse(
          document.getElementById("region_json").textContent
        );

        const map = L.map("map").setView(
          [region.region_latitude, region.region_longitude],
          12
        );

        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          maxZoom: 19,
          attribution: "© OpenStreetMap contributors",
        }).addTo(map);

        recycle_centers.forEach((recycle_center) => {
          L.marker([recycle_center.rc_latitude, recycle_center.rc_longitude])
            .addTo(map)
            .bindPopup(recycle_center.rc_name);
        });

        // Fix rendering issues when using flexbox or tabs
        window.addEventListener("load", () => {
          map.invalidateSize();
        });
      </script>
    </div>
    <div class="address-list">
      <h2>Address of Recycle Centers</h2>
      <ul>
        {% for recycle_center in recycle_centers %}
        <li>{{ recycle_center.rc_name }}: {{ recycle_center.rc_address }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>

{% endblock content %}
