{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'styles/500-styles.css' %}">
  </head>

  <div class="error-container">
    <div class="error-code">500</div>
    <div class="error-title">Oops! Something went wrong.</div>
    <p class="error-description">
      Sorry, the site is temporarily unavailable.<br />Please try again later.
    </p>

    <form action="{% url 'home' %}" method="GET">
      {% csrf_token %}
      <input type="hidden" name="actor" value="{{ actor }}" />
      <input type="hidden" name="ID" value="{{ member_ID }}" />
      <button type="submit" class="btn btn-outline-secondary">Home</button>
    </form>
  </div>
</html>



